.DropDown {
    margin-right: 0.5em;

    select {
        width: 100%;
        max-width: 200px;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        background-color: #fff;
        color: #333;
        cursor: pointer;

        &:focus {
            outline: none;
            border-color: #0085ff;
            box-shadow: 0px 0px 2px 1px rgba(0, 133, 255, 0.2);
        }

        & option[value=''] {
            color: #999;
        }
    }
}
