@use '../../../_commonstyle/flexbox.scss' as flex;
@use '../../../_commonstyle/color.scss' as customColor;

.words-page {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1.5rem;
    justify-items: center;
    padding: 16px;
    .verb-grid {
        display: grid;
        width: 100%;
        .verb-card {
            background: var(--background-white);
            border-radius: 1em;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
            border: 1px solid var(--card-border-color);
            transition: all 0.3s ease;

            &.active {
                .progress-circle {
                    svg {
                        .progress-fg {
                            stroke: var(--primary-color);
                        }
                    }
                }
            }

            &.locked {
                .progress-circle {
                    .circle-label {
                        filter: grayscale(1);
                    }
                }
            }

            &.completed {
                background: #f5fff4;
                .progress-circle {
                    svg {
                        .progress-fg {
                            stroke: var(--success-color);
                        }
                    }
                }
            }

            .verb-image {
                margin-bottom: 0.5rem;
                img {
                    max-height: 15em;
                    width: 100%;
                    border-radius: 1em 1em 0 0;
                }
            }

            .verb-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 1.5rem;

                h2 {
                    font-size: 2rem;
                    font-weight: bold;
                    margin: 0;
                }

                .sound-btn {
                    background: none;
                    border: none;
                    width: auto;
                    padding: 0;
                    cursor: pointer;
                    img {
                        width: 3em;
                        height: 3em;
                    }
                }
            }

            .verb-content {
                padding: 1.5rem;
                padding-top: 0;
                .content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .translation {
                        font-size: 1.25rem;
                        color: #777;
                    }

                    .bagde-container {
                        display: flex;
                        align-items: center;
                        .info-label {
                            display: inline-block;
                            background: #c8b3f2;
                            padding: 4px 10px;
                            border-radius: 12px;
                            font-size: 0.75rem;
                            margin: 0.5rem 0;
                            color: white;
                            cursor: pointer;

                            &.dativ {
                                background: #4a90e2;
                            }

                            &.akk {
                                background: #9d7ef5;
                                color: white;
                            }
                            .akk {
                                background-color: #ff6b6b;
                            }

                            .dativ {
                                background-color: #6b88ff;
                            }

                            .reflexiv {
                                background-color: #5cd65c;
                            }

                            .separable {
                                background-color: #ffa726;
                            }
                            .modal {
                                background-color: #2651ff;
                            }
                        }
                    }

                    .progress-circle {
                        margin: 1rem 0;
                        font-weight: bold;
                        font-size: 1rem;

                        &.locked {
                            color: #aaa;
                        }

                        &.trophy {
                            font-size: 1.5rem;
                        }
                    }
                }

                .example {
                    font-size: 0.95rem;
                    margin-bottom: 0.5em;
                }

                .action-button {
                    width: 100%;
                    padding: 0.5rem;
                    background: var(--button-primary-bg-color);
                    color: white;
                    font-weight: bold;
                    border: none;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:hover {
                        background: var(--button-primary-hover-bg-color);
                    }

                    &:disabled {
                        background: #feeddc;
                        cursor: not-allowed;
                    }

                    &.completed {
                        background: var(--success-color);

                        &:hover {
                            background: var(--secondary-color);
                        }
                    }
                }
            }
        }
    }

    .popup-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .btn-wrapper {
            @include flex.flexContRows;
            width: 100%;
            padding: 0.5em;
            .button-secondary {
                margin-left: 0.5em;
            }
        }
    }

    .grammer-info-popover {
        padding: 0.5em;
        max-width: 400px;
        max-height: 500px;
        width: 100%;
        height: 100%;
        align-content: center;

        .info-contnet {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                margin: 0;
                white-space: pre-line;
                flex-grow: 1;
            }

            .button-primary {
                margin-top: 0.5em;
                width: auto;
            }
        }
    }
}
