.quiz-section {
    position: relative;
    .quiz-options {
        &.withOutOptions {
            background: var(--background-white);
            box-shadow: none;
        }
    }
    .DropDown {
        // position: absolute;
        // top: 0;
        // left: 0;
    }
}
