.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 0.5em 1em;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;

    .footer-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-size: 14px;
            transition: color 0.3s ease;
            padding: 5px 0;

            &:hover {
                color: #ffdd57;
            }
        }

        a:last-of-type {
            font-weight: bold;
            font-size: 13px;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 0.5em;
        .footer-links {
            flex-wrap: wrap;
            a {
                margin: 0 0.75em;
            }
        }
    }
}
