.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .main {
        display: flex;
        flex: 1;
        overflow-y: auto;
        background-color: var(--background-main);
    }

    .chatBot {
        position: fixed;
        bottom: 45px;
        right: 9px;
        z-index: 4;

        .button-secondary {
            position: relative;
            background-color: var(--nav-item-color);
            width: 5em;
            height: 5em;
            border: none;
            border-radius: 50%;
            padding: 12px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }

            &::after {
                content: 'Chat with me';
                position: absolute;
                right: 100%;
                top: 50%;
                transform: translateY(-50%) translateX(20px);
                white-space: nowrap;
                background-color: #ffffff;
                color: #1e1e2f;
                padding: 6px 12px;
                border-radius: 20px;
                font-size: 14px;
                font-weight: 500;
                opacity: 0;
                pointer-events: none;
                transition: transform 0.4s ease, opacity 0.4s ease;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
            }

            &:hover::after {
                opacity: 1;
                transform: translateY(-50%) translateX(-10px);
            }

            &:hover {
                background-color: var(--button-primary-border-color);
            }
        }
    }

    .pwa-install-popup {
        p {
            padding: 0.5em;
            margin: 1em 0;
        }

        .button-wrapper {
            display: flex;
            justify-content: space-evenly;
            .button-secondary {
                margin-left: 1em;
            }
        }
    }

    /* Track */
    ::-webkit-scrollbar {
        width: 8px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(45deg, #d78e53, #bd632f);
        border-radius: 4px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(45deg, #f0b17d, #d78e53);
    }

    /* Hide scrollbar */
    // ::-webkit-scrollbar {
    //     display: none;
    // }
}

@media (max-width: 768px) {
    .App {
        flex-direction: column-reverse;
        .chatBot {
            .button-secondary {
                width: 4em;
                height: 4em;
            }
        }
    }
}
