.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .main {
        display: flex;
        flex: 1;
        overflow-y: auto;
        padding: 0.25em;
    }

    .chatBot {
        position: fixed;
        bottom: 45px;
        right: 9px;
        z-index: 99;
        display: flex;
        justify-content: end;
        .button-secondary {
            border: none;
            border-radius: 50%;
            width: 4em;
            height: 4em;
            background-color: #25d366;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                transform: scale(1.05);
                background-color: #06c34b;
            }
            img {
                width: 2em;
                height: 2em;
            }
        }
    }

    /* Track */
    ::-webkit-scrollbar {
        width: 8px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(45deg, rgb(77, 126, 251), #007bff);
        border-radius: 4px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(45deg, rgb(77, 126, 251), #007bff);
    }
}
