@import '../../_commonstyle/flexbox.scss';

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.dialog {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    max-width: 90vw;
    min-width: 50vw;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    .dialog-content {
        @include flexContainerColumns;
        height: 100%;

        .dialog-header,
        .dialog-body,
        .dialog-footer {
            padding: 1em;
        }

        .dialog-header {
            border-bottom: 1px solid #ccc;
            font-size: 18px;
            font-weight: bold;
            > div {
                @include flexContRows;
                h3 {
                    flex-grow: 1;
                }
                cursor: pointer;
            }
            img {
                width: 1.5em;
                height: 1.5em;
            }
        }

        .dialog-body {
            font-size: 16px;
            flex-grow: 1;
            display: grid;
            place-items: center;
        }

        .dialog-footer {
            border-top: 1px solid #ccc;
            text-align: right;
            .button {
                color: white;
            }
        }
    }
}
